body {
  background-color: #f8f0e3;
  font-family: "Playfair Display", serif;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1 {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

.nameH1 {
  text-align: center;
  padding: 3% 15%;
  margin-bottom: 5rem;
}

.portGrid {
  text-align: center;
}

.rcorners {
  border-radius: 25px;
}

.zoom:hover {
  transform: scale(1.2);
}

.siteHeadingStyle {
  text-align: center;
}

.siteParaStyle {
  text-align: center;
}

.footerStyle {
  margin-top: 10rem;
}
